In [ ]:
### 작성자 : 오승엽
### 프로그램 목적 : 실습 및 적용
### 작성일자 : 2021-10-25

## 함수 복습
- 연산을 수행하는 객체화 된 코드
- 자주 사용하는 연산을 객체화 시키기 유용
- 함수는 매개변수와 리턴(반환)이 있을 수도 있고 없을 수도 있다.
- 간결 & 생산성
- return값는 튜플(tuple)로 반환
- return을 만나면 결과 값을 리턴하고 함수를 종료함<br>
<br>

- 사용법<br>
       
       함수 정의
       def 함수명 (매개변수):
           return
          
- 정의 후 함수 사용<br>
  함수명(인수)<br>
  위치에 맞게 인수를 넣어 사용<br>
  
## 매개변수 초기값
- 함수 정의 시 매개변수의 초기값을 미리 설정하는 것<br>
- 함수 사용시 인수를 입력하지 않으면, 함수 정의 시 초기값으로 인수가 설정됨
- 사용법

      def 함수명 (매개변수==초기값):
         return
         
## 다수 연산 값 리턴
- 여러 값이 있는 하나의 튜플로 리턴

- 사용법

      def 함수명(매개변수):
         return 값1,값2
     
      변수1, 변수2 ''' = 함수(인수) 또는
      변수=함수(인수)
 
## 가변 매개변수
- 매개변수 개수가 정해지지 않은 함수의 경우 매개변수 앞에 *을 사용하여 가변의 매개변수를 받음, 메모리 효율성 저하

      def 함수명(* 매개변수):
- 매개변수 명은 일반적으로 *args를 많이 사용함.  


### 지역변수(local variable)
- 함수에서 활용하는 변수는 함수에서만 독립적으로 활용가능 -> 지역변수

### 전역변수(global variable)
- 함수 안에서 함수 밖의 변수를 다루고자 할 때 활용하며 변수명 앞에 global을 표기함
- 함수는 독립적으로 동작하는 것이 가장 이상적이므로 전역변수는 가급적 지양

### 람다(lambda)함수
- 사용빈도가 낮고, 간결한 연산의 함수 표현 시 활용법
- 리턴 표현이 없지만 리턴 함.
- 사용법

      함수명 = lambda 매개변수 : 리턴 값
      mul = lambda a,b : a*b
      result = mul(2,3)

In [13]:
# 함수 2
# 매개변수: X, 리턴: X
def ni_nr():
    print("매개변수와 리턴이 없는 함수")
    pass # 껍데기

In [14]:
ni_nr()

매개변수와 리턴이 없는 함수

In [15]:
type(ni_nr())

매개변수와 리턴이 없는 함수

NoneType

In [18]:
# 매개변수 x, 리턴: 3.14
def ni_r():
    return 3.14

print(ni_r())
type(ni_r())

3.14

float

In [22]:
# 매개변수 초기값이 있는 함수
def triple(a=5):
    result = a*3
    return result

print(triple()) # default 값이 5가 생김, a만 들어갈경우는 오류(인자)
print(triple(3))

15
9

In [29]:
# 다수 연산 값 리턴
def test (a,b):
    return a+b,a-b,a*b,a/b

print(test(2,3)) # 튜플형태로 반환하므로 보여짐.
print(type(test(2,3)))

# 따로받기
num1, num2, num3, num4 = test(2,3)
print(num1,num2,num3,num4)

#튜플로 result에 저장
result = test(2,3)
print(result)

(5, -1, 6, 0.6666666666666666)
<class 'tuple'>
5 -1 6 0.6666666666666666
(5, -1, 6, 0.6666666666666666)

In [32]:
# 가변 매개변수
def test(*args):
    num = 0 
    for i in range(len(args)):
        num += args[i]
    return num

def test(*args):
    num = 0 
    for i in args:
        num += i
    return num


test(1,2,3,4,5,6,7,8)

36

In [39]:
# 지역변수, 전역변수
# 지역변수
a = 5
def triple(a):
    a = a*3
    return a
print(triple(3))
print(triple(a))
a = triple(a) # 함수 바깥 a 변화
print(a)

9
15
15

In [42]:
# 전역변수
a = 5
def triple(): # 함수의 특징인 독립성을 잃어버리고 외부 a의 종속적으로 변화함.
    global a #전역변수 a -> 5
    a = a * 3
    return a

print(triple())
print(a)

15
15

In [45]:
# lambda
lala = lambda a : a*3 # 재사용이 없는 경우
lala(3)
print(type(lala(3)))

<class 'int'>