- [기본 1] 1 부터 100 까지의 숫자 중 홀수만 출력하는 프로그램을 작
성하시오

In [2]:
ar=[]
for i in range(1,101):
    if i % 2 != 0:
        ar.append(i)
print(ar)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

- [기본 2] 1 단부터 9 단까지 순서대로 구구단을 출력하는 프로그램을
작성하시오

In [3]:
for i in range(1,10):
    for z in range(1,10):
        print("%d X %d = %d"%(i,z,i*z))

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

- [기본 3] 9 단부터 1 단까지 순서로 구구단을 출력하는 프로그램을 작
성하시오 . 앞의 숫자만 역순 , 뒤의 숫자는 1~9 순서대로 출력

In [4]:
for i in range(9,0,-1):
    for z in range(1,10):
        print("%d X %d = %d"%(i,z,i*z))

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9

- [기본 4] 1 단부터 9 단까지 구구단 중 2 단 , 5 단을 제외하고 출력하는
프로그램을 작성하시오 . 앞자리에 오는 숫자 만을 기준으로 제외

In [5]:
for i in range(1,10):
    for z in range(1,10):
        if i != 2 and i != 5:
            print("%d X %d = %d"%(i,z,i*z))

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

- [기본 5] 다음을 하나와 반복문을 활용하여 아래의 별을 출력하는 프로그램을 작성하시오 

        *
        **
        ***
        ****
        *****

In [6]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

- [기본 6] 다음을 하나와 반복문을 활용하여 아래의 별을 출력하는 프로그램을 작성하시오

        *****
        ****
        ***
        **
        *

In [7]:
for i in range(5,0,-1):
    print("*"*i)

*****
****
***
**
*

- [기본 7] 두 양의 정수 a 와 b 가 주어질 때 두 수의 공약수를 출력하시오 . (a 는 12, b 는 6 으로 주어진다고 하자

In [32]:
a=12
b=6
for i in range(1,b+1):
    if a%i==0:
        if b%i==0:
            print(i)

1
2
3
6

- [기본 8] 두 양의 정수 a 와 b 가 주어질 때 두 수의 최대공약수를 출력하시오 . (a 는 12, b 는 6 으로 주어진다고 하자

In [33]:
a=12
b=6
c=[]
for i in range(1,b+1):
    if a%i==0:
        if b%i==0:
            c.append(i)
c[-1]

6

- [기본 9] 두 양의 정수 a 와 b 가 주어질 때 두 수의 최소공배수를 출력하시오 . (a 는 12, b 는 6 으로 주어진다고 하자

In [39]:
a=12
b=6
for i in range(b,b*a+1):
    if i%a==0 and i%b==0:
        result=i
        break
print(i)

12

- [기본 10] 2 부터 100 까지의 정수 중 소수를 출력하시오 . 소수는 1과 자기 자신 외에 나누어 떨어지는 수가 없는 1 보다 큰 양의 정수

In [36]:
c=[]
for i in range(2,100):
    if i%2!=0 and i%3!=0 and i%5!=0 and i%7!=0 :
            c.append(i)
    if i==2 or i==3 or i==5 or i==7:
        c.append(i)
print(c)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]